{% extends "template.html" %}
{% block content %}
<div id="address-data"></div>
<div id="tx-data"></div>
<script>
$(document).ready(function () {
  $.getJSON('/api/getaddressbalance/{{address}}', function (data) {
    console.log(data);
    var transformBalance =
      {'<>':'div','html':[
        {'<>':'div','html':'address: {{address}}</a>'},
	      {'<>':'div','html':'balance: Ψ<span id="balance-data">${balance}</span>'},
        {'<>':'div','html':'transactions:'} ] };

    $('#address-data').json2html(data["result"], transformBalance);
    // format balance field
    $('#balance-data').text(parseFloat($('#balance-data').text() / 100000000.0));
  });

  $.getJSON('/api/searchrawtransactions/{{address}}/0', function (data) {
    console.log(data);
    var transformTx =
      {'<>':'div','html':[
        {'<>':'div','html':function(tx, index){return((new Date(1000*tx.blocktime).toDateString()) + ' <a href="/transaction/' + tx.hash + '">' + tx.hash + '</a>');}}] };

    if (data["result"].length >= 100) {
      $('#error').text("Warning: Address has too many transactions. Only partial list is shown from the oldest. Consider moving coins to new address.");
    }
    $('#tx-data').json2html(data["result"].reverse(), transformTx);

  });
});
</script>
{% endblock %}
