{% extends "template.html" %}
{% block content %}
<div>consensus estimate:</div>
<div id="blockchain-consensus"></div>
<div>production server node: rpc8.primecoin.org</div>
<div id="blockchain-data"></div>
<div>development server node: rpc16.primecoin.org</div>
<div id="blockchain-data-dev"></div>
<div>availability:</div>
<div id="availability-data"></div>
<div id="peer-data"></div>
<script>
$(document).ready(function () {
  $.getJSON('/api/getbestblock8/', function (data) {
    console.log(data);
    var transform =
      {'<>':'div','html':[
        {'<>':'div','html':'block: <a href="/block/${hash}">${hash}</a>'},
        {'<>':'div','html':'height: ${height}'},
        {'<>':'div','html':'difficulty: ${difficulty}'} ] };

    $('#blockchain-data').json2html(data["result"], transform);
  });

  $.getJSON('/api/getblockchaininfo/', function (data) {
    console.log(data);
    var transform =
      {'<>':'div','html':[
        {'<>':'div','html':'block: <a href="/block/${bestblockhash}">${bestblockhash}</a>'},
        {'<>':'div','html':'height: ${blocks}'},
        {'<>':'div','html':'difficulty: ${difficulty}'},
        {'<>':'div','html':'connected peers:'} ] };

    $('#blockchain-data-dev').json2html(data["result"], transform);
  });

  $.getJSON('/api/consensus/', function (data) {
    console.log(data);
    var transform =
      {'<>':'div','html':[
        {'<>':'div','html':'block: <a href="/block/${hash}">${hash}</a>'},
        {'<>':'div','html':'height: ${height}'},
        {'<>':'div','html':'difficulty: ${difficulty}'} ] };

    $('#blockchain-consensus').json2html(data["result"], transform);
  });

  $.getJSON('/api/getpeerinfo/', function (data) {
    console.log(data);
    var transform =
      {'<>':'div','html':[
        {'<>':'div','html':'peer @${synced_blocks} version ${version}${subver}</a>'} ] };

    $('#peer-data').json2html(data["result"], transform);
  });

  $.getJSON('/api/availability/', function (data) {
    console.log('Availability data:', data);
    if (data && data.result) {
      // Format like uptime: "10:15:39 up 2 days, 1:51, 1 user, availability: 8h: 100% (7.81h), 1d: 100% (22.18h), 1w: 100% (151.92h), 1m: 100% (xxxh), 1q: 100% (xxxh), 1y: 100% (8744.69h)"
      var availabilityStr = data.result.map(function(item) {
        return item.period + ': ' + item.availability + '% (' + item.actualHours + 'h)';
      }).join(', ');

      $('#availability-data').html('<div>' + availabilityStr + '</div>');
    } else {
      $('#availability-data').html('<div>Error loading availability data</div>');
    }
  }).fail(function() {
    $('#availability-data').html('<div>Failed to load availability data</div>');
  });

});
</script>
{% endblock %}
